# 忽略 Python 缓存
__pycache__/
*.py[cod]

# 忽略 Jupyter 检查点
.ipynb_checkpoints/

# 忽略 PyCharm 配置文件
.idea/

# 忽略系统文件
.DS_Store

# 忽略图片和 Excel 数据文件（如果要上传数据就删掉对应行）
*.png
*.xlsx
*.csv

# ---- 暂不上传的文件（想上传时删掉对应行）----
*.txt
260915.py
calc.py
sf.py
requirements.txt
sd.ipynb
xue.ipynb
zc.ipynb
dyh.ipynb
